html, body {
  margin: 0px;
  position: relative;
}

h1 {
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 0px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  text-align: center;
  display: inline-flex;
}

p {
  font-family: 'Courier New', Courier, monospace;
  margin: 10px;
  
}

.Text {
  margin: 10px;
  display: inline;
} 

.imgright {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px; /* Set desired image width */
  height: auto; /* Maintain aspect ratio */
}